{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "es6": true,
      "commonjs": true
    },
    "globals": {
      "process": true
    },
    "extends": [
      "airbnb",
      "airbnb/hooks",
      "plugin:prettier/recommended",
      "prettier/react"
    ],
    "parserOptions": {
      "ecmaVersion": 9,
      "ecmaFeatures": {
        "jsx": true
      },
      "sourceType": "module"
    },
    "plugins": [
      "react",
      "prettier"
    ],
    "rules": {
      "react/prop-types": 0,
      "react/jsx-uses-vars": [
        2
      ],
      "react/jsx-no-undef": "error",
      "no-console": 0
    }
}